<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naruto</title>
  </head>
  <body>
    <div id="app">
      <h3 v-if="pemeranList.length === 0">Tidak ada pemeran ....</h3>
      <ul v-else-if="pemeranList.length % 2 === 0">
        <li v-for="pemeran in pemeranList">{{ pemeran.name }}</li>
      </ul>
      <h3 v-else>There Odd the pemeran</h3>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      Vue.createApp({
        data: () => ({
          pemeranList: [
            {
              name: "Naruto",
            },
            {
              name: "Sasuke",
            },
            {
              name: "Hinata",
            },
            {
              name: "Sakura",
            },

            {
              name: "Choji",
            },
          ],
        }),
      }).mount("#app");
    </script>
  </body>
</html>
